<div class="container">
    <div class="form-container">
        <h1>Formulár na evidenciu knihy</h1>
        <form (ngSubmit)="onSubmit()" [formGroup]="formular">

            <label for="title">Názov:</label>
            <input formControlName="title" id="title" type="text">
            <br>

            <label for="authorFirstname">Meno authora:</label>
            <input formControlName="authorFirstname" id="authorFirstname" type="text">
            <br>

            <label for="authorLastname">Priezvisko authora:</label>
            <input formControlName="authorLastname" id="authorLastname" type="text">
            <br>

<!--            <label for="rokVydania">Rok vydania:</label>-->
<!--            <input formControlName="rokVydania" id="rokVydania" type="number">-->
<!--            <br>-->

            <label for="isbn">ISBN:</label>
            <input formControlName="isbn" id="isbn" type="text">
            <br>

            <label for="count">Pocet stran:</label>
            <input formControlName="count" id="count" type="number">
            <br>

            <button [disabled]="!formular.valid" type="submit">Odoslať</button>
            <input (click)="nastavForm()" type="button" value="Nastav demo hodnoty">
        </form>
    </div>

    <div class="list-container">
        <h1>Zoznam kníh</h1>
        <ul>
            <li *ngFor="let kniha of knihy" class="book-item">
                <img alt="Book Image" height="100" ngSrc="../assets/img/book.png" width="100">
                <div>
                    <h2>{{ kniha.title }}</h2>
                    <p>Od {{ kniha.authorFirstname + ' ' + kniha.authorLastname }}</p>
                </div>
            </li>
        </ul>
    </div>
</div>
